.p {
    font-size: 20px;
}


.bonk {
    box-sizing: border-box;
}

.img-container {
    float: left;
    width: 25%;
    padding: 5px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.image-text {
    text-align: justify;
    width: 195px

}
.container {
    position: relative;
}
  
.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
}
  
img { 
    width: 100%;
    height: auto;
    opacity: 0.3;
}