<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stlyesheet" href="aboutus.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>About Health Chain</title>
    <style>

    </style>
</head>
<body background="/static/photos/homebg.png" style="background-size: cover;">
    
    <div class="container">
    <img src="/static/photos/Group_13.png" alt="badge" width="100px" height="100px" style="float: left;">
    </div>
    <h1 style="text-align:center; color: black;">About Us</h1>
        <div style="text-align:center ;" class="p">
            <p style="color: black;"><b>
            Welcome to Health Chain! Our purpose is to use a decentralized blockchain to our (and your) advantage for purposes of
            security and protection of sensitive material. By using our services, you may upload and protect your medical
            records at no costthan what it normally takes to secure and store medical records.<br>
            Here at Health Chain we share a vision of a future where our personal records are protected at a much lower cost while also making
            it impossible to have information leaked as the blockchain cannot be edited or hacked into. Thanks to encryption on the blockchain,
            worrying about who has access to your medical records is no more as only you will have access!
            
            </b>
            </p>
        </div>
    
</body>
</html>