<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{url_for('static', filename='home.css')}}">
    <style>
        body {
            margin: 0;
        }
    </style>
    <title>
        Medical Chain
    </title>
</head>

<body>
    <div class="homepage">
       <div class="homepage-container">
            <nav>
                <a href="/about">
                    <button type="button" class="abt">About Us</button>
                </a>
                
            </nav>
            <div class="page-btns">
                <button type="button" class="btn1"></button>
                <button type="button" class="btn2"></button>
                <button type="button" class="btn3"></button>
            </div>
        </div>
    </div>
</body> 
    

</html>