<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>HealthChain</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="{{url_for('static', filename='firebase.js')}}" defer type="module"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='landing_page.css')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
        <script src="app.js" defer></script>
        <link rel="stylesheet" href="{{url_for('static', filename='home.css')}}">
    </head>

    
    <body>
        <section id="whenSignedOut">
        <h1>Welcome to HealthChain!</h1>
        <form action="">
            <!-- Headings for the form -->
            <div class="headingsContainer">
                <h3>Sign in</h3>
                <p>Sign in with your username and password</p>
            </div>
            <div class="mainContainer">
                <!-- Username -->
                <label for="username">Your username</label>
                <!-- Make sure to put "required" for both the input fields -->
                <input type="text" placeholder="Enter Username" name="username" required>
                <br><br>
                <!-- Password -->
                <label for="pswrd">Your password</label>
                <input type="password" placeholder="Enter Password" name="pswrd" required>
                <div class="subcontainer">
                    <label>
                      <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                    <p class="forgotpsd"> <a href="#">Forgot Password?</a></p>
                </div>
    
                
                <div class="input">
                    <button type="submit">Login</button>
                    <button id="google-login-btn" class="google-button">
                        <i class="fab fa-google"></i> Login with Google
                    </button>
                </div>
                <p class="register">Not a member?  <a href="#">Register here!</a></p>
            </div>
            
        </form>

    </section>
    <section id="whenSignedIn" hidden="true">
            <div id="userDetails"></div>
   
    <div class="homepage">
       <div class="homepage-container">
            <nav>
                <button id="signOutBtn" class="sign-out">Sign Out</button>
                <a href="/about">
                    <button type="button" class="abt">About Us</button>
                </a>
                
            </nav>
            <div class="page-btns">
                <button type="button" class="btn1"></button>
                <button type="button" class="btn2"></button>
                <button type="button" class="btn3"></button>
            </div>
        </div>
    </div>
    </section>

</body>

</html>