<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="landing_page.css">
    <style>
        /* body.page {
            background-image: url(IH24-V2/photos/pexels-pixabay-40568.jpg) repeat center;
            opacity: 1.0;
            width: 1450px;
            height: 900px;
            } */
        body {
            margin: 0;
        }
    </style>
    <title>
        PLACEHOLDER
    </title>

<body>
    <div class="homepage">
        <img src="photos/pexels-pixabay-40568.jpg" alt="medical-background" class="background">
        <div class="homepage-container">
            <h1>
                Medical Chain
            </h1>
            <div class="page-btns">
                <button type="button" class="x"></button>
                <button type="button" class="y"></button>
                <button type="button" class="z"></button>
            </div>
        </div>

    </div>

</body> 
    
</head>

</html>